{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

{% endblock %}

{% block content %}

    <p>Finally, we would like to know if generally speaking, you usually think of yourself as:</p>

    <table class="table-condensed" style="width:200px; margin-top:10px;">

        {% for value, content in mylist %}

             <tr>
             <td><input type="radio" name="partisan_1" value={{ value }}></td>
             <td> {{ content }}</td>
             </tr>

        {% endfor %}

    </table>
    <p>
    <br>
    </p>

    {% next_button %}

{% endblock %}