{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        This is an urn with 20 red balls and 40 white balls and black balls. The number of the white and black balls is
        unknown, and can be anything between 0 and 40 white balls and 0 and 40 black balls. At random, one ball will be
        drawn from this urn. You can pick either Lottery A and Lottery B to get paid. The payments under the two
        lotteries are as follows:
    </p>

    <p>
        Lottery A: If a red ball is drawn, you will be paid 30 cents. If a black ball is drawn, you will be paid
        nothing. If you pick a white ball, there is a one in two chance that you will be paid 30 cents, and there is one
        in two chance that will be paid 0 cent.
    </p>

    <p>
        Lottery B: If a red ball is drawn, you will be paid 0 cent. If a black ball is drawn, there is a one in two
        chance that you will be paid 30 cents and there is a one in two chance that you will be paid 0 cent. If a white
        ball is drawn, you will be paid 30 cents.

</div>