{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <p>
        Please answer the following questions:
    </p>

    {% formfield player.birth with label='Year of birth' %}
    {% formfield player.gender with label='Gender' %}
    {% formfield player.state with label='State of residence' %}
    {% formfield player.education with label='Highest educational attachment' %}
    {% formfield player.race with label='Race' %}
    {% formfield player.income with label='Total annual household income' %}

    {% next_button %}

{% endblock %}
