{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

{% endblock %}

{% block content %}

    <p>
       How important is being {{ party_self }} to you?
    </p>
    <table class="table-condensed" style="width:200px; margin-top:10px;">

        {% for value, content in mylist %}

             <tr>
             <td><input type="radio" name="partisan_5" value={{ value }}></td>
             <td> {{ content }}</td>
             </tr>

        {% endfor %}

    </table>
    <p>
    <br>
    </p>

    {% next_button %}
{% endblock %}


