{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question 9-2 of 10
{% endblock %}

{% block content %}

    <p>
        <strong>Do you favor that: </strong>
    </p>

        <table class="table table-hover">

        <tr>
            {% for name in names %}
            <td width="10%" align="center">{{ name }}</td>
            {% endfor %}
        </tr>

        <tr>
            {% for value in values %}
        <td width="10%" align="center">
            <input type="radio" name='likert_9' value={{ value }}></td>
            {% endfor %}
        </tr>
        </table>


    {% next_button %}

{% endblock %}