{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Donation
{% endblock %}

{% block content %}
    <p>
        Congratulations! You have been selected for a <strong>10 dollar</strong> cash reward!
    </p>
    <p>
        Would you like to donate a share of this reward to one of the organizations mentioned below?
    </p>

        <table class="table table-hover">

            <tr>
                <th>No.</th>
                <th>Organizations</th>
                <th>Description</th>
            </tr>

        {% for org, des, no in list %}
            <tr>
                <td>{{ no }}</td>
                <td>{{ org }}</td>
                <td>{{ des }}</td>
            </tr>
        {% endfor %}

        </table>

    <p>
        Thanks to a generous donor, we are able to match the donation you make. For instance, if you donate 2/5/10 dollars,
    we will double this amount and the organization will receive a total of 4/10/20.
    </p>
    <p>
        Each organization was selected because its purpose is to take action on some of the issues mentioned in the survey.
    </p>

    {% formfield player.donation with label='I would like to donate:' %}
    {% formfield player.org with label='to(No. of the organization):' %}
    {% formfield player.email with label='Please enter your email to receive your donation receipt:'%}

    <p>
        <I><strong>If you do not wish to donate, please click next to skip this page.</strong></I>
    </p>

    {% next_button %}

{% endblock %}
