{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        <strong> Task: </strong>
        You will be presented with 36 images of eyes. For each pair of eyes, choose which word best describes what the
        person in the picture is thinking or feeling. You may feel that more than one word is applicable, but please
        choose just one word, the word you consider to be most suitable. Before making your choice, make sure that you
        have read all 4 words. You should try to do the task as quickly as possible, but you will not be timed.
    </p>

    <p>
        <strong> Payment: </strong>
        You will be paid 80 cents for completing this section.
    </p>


</div>
