{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this experiment you can bet on the result of one coin throw game and one ball drawn game. The two bets differ
        as follows:
    </p>

    <p>
        In the coin throw game, there is a standard coin with "Heads" and "Tails" in coin throw bet. This coin is thrown
        randomly by the computer. Heads and Tails are equally likely.
        It is impossible that a coin lands on its edge.
    </p>

    <p>
        In the ball drawn game, a ball with specific symbol will be drawn from an urn. The contents of the urn are
        decided as follows: <br>
        First, each participant in your group chooses a ball to put in the urn with symbol either ↗ or ↖︎. The contents
        of this virtual urn is determined by what symbol the other subjects chose, excluding you. The only information
        you have is the total number of balls in your urn shown below. Then a ball is randomly drawn from this ball
        filled by others. You will be paid if the ball drawn by computer has the same symbol you bet on.
    </p>
</div>

