{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this experiment you can bet on the result of one coin throw game and one ball drawn game. The two bets differ
        as follows:
    </p>

    <p>
        In the coin throw game, there is a standard coin with "Heads" and "Tails" in coin throw bet. This coin is thrown
        randomly by the computer. Heads and Tails are equally likely.
        It is impossible that a coin lands on its edge.
    </p>

    <p>
        In the ball drawn game, a ball with specific symbol(either ↗ or ↖︎) will be drawn from an urn filled by
        experimenter. The only information you can have at this stage is the total number of balls in this urn, which is
        shown below. The contents of the urn will be given to you in the end of this game.
    </p>
</div>