{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        This is an urn containing 60 balls. Exactly 20 of 60 balls are red. The remaining 40 balls are white or black
        balls. The number of white and black balls is unknown, so there can be anything between 0 and 40 black balls.
    </p>

    <p>
        At random, one ball will be drawn from this urn. At the same time a coin is flipped. The coin can land only on
        head or tail. The coin is fair, that is to say symmetic. You can pick either Alternative A or Alternative B to
        get paid. The payments under the two alternatives are as follows:
    </p>

</div>