{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Task 3: Two-player Communication Game
{% endblock %}

{% block content %}
    <p>
        This is a short experiment in decision-making. <br>
        In this experiment, you will be matched with another worker.
        Neither of you will ever know the identity of the other.
    </p>
    <p>
        Two possible monetary payments are available to you and your counterpart in the experiment. Two payment options(<strong>Option A</strong> and <strong>Option B</strong>) are shown to your counterpart. After viewing two payments, your counterpart will send you
        a message informing you the details of the two options. Then you can choose to get paid by <strong>Option A</strong>
        or <strong>Option B</strong>.<br>
        We will pay the two of you according to your choice.
    </p>
    <p>
        <I><strong>However, you will never know what sums were actually offered in the option not chosen(that is, you will never
        know whether the message was true or not). Moreover, you will never know the sums to be paid to your counterpart
        according to the different options.</strong></I>
    </p>
    <p>
        You must complete the demographic survey at the end to have your work accepted.
    </p>

    {% next_button %}
{% endblock %}