{% load otree_tags staticfiles %}

<div class="instructions well well-lg" >

{#    <h3 class="panel-sub-heading">#}
{#        Instructions#}
{#    </h3>#}
    <p>
        <I>If you really don't know what <br>
            a word means you can look it up by <br>
            hovering your mouse over the word.</I><br>
        <I>For example:</I>
        <div align="center" >
                <img src="{% static "REMT/example.png" %}" style="width: 200px; height: 70px"/>
        </div>
    </p>


</div>