{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

{#    <h3 class="panel-sub-heading">#}
{#        Instructions#}
{#    </h3>#}
    <p>
        <span style="font-size: x-large;"><strong> Task </strong></span><br>
        <strong><span style="font-size: larger;"> Part one: </span></strong>You will be presented with 36 images of eyes. For each set of eyes, choose which word best describes what the person in the picture is thinking
        or feeling. You may feel that more than one word is applicable but please choose just one word, the word which
        you consider to be most suitable. Before making your choice, make sure that you have read all 4 words.
        You should try to do the task as quickly as possible but you will not be timed. <br>
        <br>
        <div align="center" ><I>If you really don't know what a word means you can look it up by hovering your mouse over the word.
    For example:</I></div>
        <div align="center" style="margin-top: 1em">
                <img src="{% static "REMT/example.png" %}" style="width: 200px; height: 70px"/>
        </div>
        <br>
    <strong><span style="font-size: larger;"> Part two: </span></strong>After part one follows another short task with 10 pictures and a short survey.
    </p>
    <p>
        <br>
    </p>

    <p>
        <span style="font-size: x-large;"><strong> Payment </strong></span><br>
        You will receive a fixed fee of £1.50 for your participation. It will take about 9 minutes to complete the study.<br>
        <u>Please note that you are only allowed to participate once. If you do it more than once, we will pay you according
        to your first record.</u>
    </p>


</div>
