{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Experiment 2
{% endblock %}

{% block content %}

    {% include 'test_axiom/Exp2_ins.html' %}

    <p>
        <I>You can save your choice by copy-pasting your choice in a separate part of your computer if you want.
            However, we will also save this for you.</I>
    </p>
    {% formfield player.x_2 with label="Now please choose one envelope from the list" %}
    <hr />

    <p>
        Here is the information for "Option A" and "Option B":
    </p>
    <div style="text-align:center">
    <img src="{% static "test_axiom/exp2.png" %}" align="middle" height="220" width="820"/>
    </div>
    <p>
    <br>
    </p>
    <p>
        Since your envelope may contain any value of X between 0.00 to 2.00, please give us general instructions whether
    you want "Option A" or "Option B".
    </p>
    <p>
    <strong>Do so by specifying a threshold:</strong>

    {% formfield player.exp2_answer with label="If X is below or equal to" %}
    <p>
    <strong>
        I want Option A, otherwise I will receive Option B.
    </strong>
    </p>
    <p>
        <u>For example:</u> <br>
        If X is below or equal to $0.50 I want Option A, otherwise I will receive Option B.<br>
        If X is below or equal to $0.33 I want Option A, otherwise I will receive Option B.<br>
        ...
    </p>


    {% next_button %}

{% endblock %}