{% extends 'otree/WaitPage.html' %}
{% load staticfiles otree_tags %}

{% block title %}
    Please wait!
{% endblock %}

{% block styles %}

<style>
#left_to_wait{font-weight:bold;}
</style>

{% endblock %}

{% block content %}

    {{ body_text }}
  <div><b><span id="how_many_arrived"></span>/{{Constants.players_per_group}}</b> participants are
     already here... </div>
  <div>Waiting for <span id="left_to_wait"></span> more <span id="left_to_wait_people"></span>... </div>
    <p>
    We know your time is valuable, so we are going to pay you <strong>1 cent for every minute</strong> you have to wait,
    as long as you stick with us to the end. </p>
    <br>
<div id="timer"></div>
<div>That's an extra <a id="bonus"></a> cent(s) once you finish the game!</div>



{% endblock %}

{% block scripts %}

{% include 'participant_generated_urn_2/waiting_page_channel.js.html' %}

<script>

function get_elapsed_time_string(total_seconds) {
  function pretty(num) {
    return num + ( num*100 % 10 == 0 ? "0" : "" ) ;
  }
  var minutes = Math.floor(total_seconds / 60);
  var seconds = Math.floor(total_seconds % 60);
  var floored_seconds = Math.floor(10*Math.floor(seconds/5))/10;
{#  var bonus = pretty(Math.floor(100*(floored_seconds/100 + minutes/8))/100);#}
  var bonus = minutes;

  if (minutes == 0){
      if (seconds == 1){
          var currentTimeString = "You've been waiting for " + seconds + " second :(";
      }else{
          var currentTimeString = "You've been waiting for " + seconds + " seconds :(";
      }
  }
  else if (minutes == 1){
      if (seconds == 1){
          var currentTimeString = "You've been waiting for " + minutes + " minute and " +seconds + "second :(";
      }else{
          var currentTimeString = "You've been waiting for " + minutes + " minute and " +seconds + " seconds :(";}
  }else{
      if (seconds == 1){
          var currentTimeString = "You've been waiting for " + minutes + " minutes and " +seconds + " second :("
      }
      else{
          var currentTimeString = "You've been waiting for " + minutes + " minutes and " +seconds + " seconds :("
      }
  }

  return [currentTimeString,bonus];
}

var elapsed_seconds = 0;

setInterval(function() {
  elapsed_seconds = elapsed_seconds + 1;
  a = get_elapsed_time_string(elapsed_seconds);
  document.getElementById('timer').innerHTML = a[0];
  document.getElementById('bonus').innerHTML = a[1];
  if (a[1] >= 10){
      document.getElementById('bonus').innerHTML = 10;
  }
{#  document.getElementById('bonus_var').value = a[1];#}
  }, 1000);
</script>

{% endblock %}