{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Decision
{% endblock %}

{% block content %}

    <p>
        Now please first choose <strong>{{ htmla }}</strong> or <strong>{{ htmlb }}︎</strong>. This choice is irrelevant for you personally, but influences whether the symbol
        coins of the other participants land on <strong>{{ htmla }}</strong> or <strong>{{ htmlb }}︎</strong>.
    </p>

    {% formfield player.decision with label='A ball of which symbol would you like to put into the urns of the other participants' %}

    {% next_button %}


{% endblock %}