{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Decision
{% endblock %}

{% block content %}

    <p>
        Now please consider the following four different bets. These, and thus your possible earnings, depend on the
        throw of the standard coin and the symbol of the ball drawn from your urn, which is filled by the choices of the
        other participants.
    </p>

    <p>
        Please specify for each bet what you think its value is. In other words, if you could buy the bet, how much
        would you maximally pay for it? Please enter a value between $0.00 and $1.00.
    </p>
    
    <p>
        You are not buying these bets, instead you will receive the bet for which you indicated the highest value, for
        free (if you assign the same highest value to two or more bets, the bet which is listed first below is what you
        will get). As soon as all participants have made their choice for "{{ htmla }}" or "{{ htmlb }}", and have given their valuation for the
        different bets, the session continues as follows: The computer generates the coin throw. And also the computer draws a ball each urn.
        Depending on the combination of the coin and the ball then you personally either win $1.00 or nothing.
    </p>

    <p>
        While everything in the experiment is anonymous, there is one exception. On the next screen, we will show you
        and all other participants the choices regarding the symbols. The participants will be identified by their
        player ID.
    </p>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th>Option 1</th>
                    <th>Head</th>
                    <th>Tail</th>
                </tr>
                <tr>
                    <th>{{ htmla }}</th>
                    <td>$0.00</td>
                    <td>$1.00</td>
                </tr>
                <tr>
                    <th>{{ htmlb }}</th>
                    <td>$0.00</td>
                    <td>$1.00</td>
                </tr>
            </table>
        </div>
    </div>

    {% formfield player.option1 with label='How much would you pay for Option 1?' %}

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th>Option 2</th>
                    <th>Head</th>
                    <th>Tail</th>
                </tr>
                <tr>
                    <th>{{ htmla }}</th>
                    <td>$1.00</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <th>{{ htmlb }}</th>
                    <td>$1.00</td>
                    <td>$0.00</td>
                </tr>
            </table>
        </div>
    </div>

    {% formfield player.option2 with label='How much would you pay for Option 2?' %}

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th>Option 3</th>
                    <th>Head</th>
                    <th>Tail</th>
                </tr>
                <tr>
                    <th>{{ htmla }}</th>
                    <td>$0.00</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <th>{{ htmlb }}</th>
                    <td>$1.00</td>
                    <td>$1.00</td>
                </tr>
            </table>
        </div>
    </div>

    {% formfield player.option3 with label='How much would you pay for Option 3?' %}

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th>Option 4</th>
                    <th>Head</th>
                    <th>Tail</th>
                </tr>
                <tr>
                    <th>{{ htmla }}</th>
                    <td>$1.00</td>
                    <td>$1.00</td>
                </tr>
                <tr>
                    <th>{{ htmlb }}</th>
                    <td>$0.00</td>
                    <td>$0.00</td>
                </tr>
            </table>
        </div>
    </div>

    {% formfield player.option4 with label='How much would you pay for Option 4?' %}

    {% next_button %}


{% endblock %}