{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this experiment you can bet on the result of one coin flip and one ball drawn from an urn. The two bets differ
        as follows:
    </p>

    <p>
        A standard coin with "Heads" and "Tails" will be thrown randomly by the computer.
        "Heads" and "Tails" are equally likely. It is impossible that a coin lands on its edge.
    </p>

    <p>
        A ball with specific symbol (either "{{ htmla }}"︎ or "{{ htmlb }}") will be drawn from an urn filled by
        the computer. The only information you can have at this stage is the total number of balls in this urn, which is
        shown below. The contents of the urn will be given to you at the end of this experiment.
    </p>
</div>